<h1>Cocktails!</h1>
<h2>Who needs sleek design when you have puppies </h2>

<%= cl_image_tag("2018-10-10_11.22.23",
      width: 400, height: 300, crop: :fill) %>
<ul>
<% @cocktails.each do |cocktails| %>
<li>
  <%= cocktails.name%>
    <%= link_to 'Show', cocktails, class:'btn btn-primary' %>
  </li>
<%= link_to "Delete", cocktail_path(cocktails), method: :delete , class:'btn btn-primary'%>
<% end %>
</ul>
<%= link_to "add a new cocktail", new_cocktail_path, class:'btn btn-lg btn-success'%>


